* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0b0b0b;
  color: #ffffff;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.navbar {
  padding: 24px 80px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

.navbar nav a {
  margin-left: 24px;
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}

.navbar nav :hover {
  color: #1dd1a1;
}

.dropdown {
  position: relative;
}
.dropdown span:hover{
  color: #1dd1a1;
}

.dropdown span {
  cursor: pointer;
  color: #ccc;
  font-size: 14px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: black;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}

.dropdown-menu a {
  display: block;
  padding: 12px 16px;
  color: #ccc;
}

.dropdown-menu a:hover {
  color: white;
  background-color: #1dd1a1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.hero {
  min-height: 90vh;
  text-align: center;
  padding: 60px 20px;
}

.hero-content {
  max-width: 700px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 15px;
  color: #aaa;
  line-height: 1.6;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 50px;
}

.btn {
  padding: 14px 26px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.primary {
  background: #1dd1a1;
  color: #000;
}

.primary:hover {
  background: #10ac84;
}

.outline {
  border: 1px solid #555;
  color: #fff;
}

.outline:hover {
  border-color: #1dd1a1;
  color: #1dd1a1;
}


.hero-image {
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 600px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}


.dropdown {
  position: relative;
  cursor: pointer;
  display: flex;
}

.dropdown-toggle {
  color: #cfcfcf;
  font-size: 14px;
}
.social-icons:hover{
  color: #1dd1a1;
  cursor: pointer;

}
